#span {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

#svgBox {
  border-radius: 4px;
  font-size: 12px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  font-weight: 700;
  font-size: 11px;
  color: #fff;
  background-color: #000;
  transform: translate(-50%, 8px);
  display: none;
  padding-top: 0.375em;
  padding-bottom: 0.375em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
}

#svg {
  display: inline-block;
  height: 1em;
  fill: currentColor;
  position: relative;
  vertical-align: text-bottom;
  width: 1.25em;
  font-size: 24px;
}
