#container2 {
  position: relative;
  display: block;
  margin-right: 8px;
}

#container4 {
  display: flex;
  height: 54px;
  position: relative;
  align-items: center;
  min-width: 180px;
  padding-left: 16px;
  padding-right: 32px;
  border-right-width: 1px;
  border-right-style: solid;
  font-size: 12px;
  border-right-color: #eee;
}

#span {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translate(0px, -50%);
  border-left: 0.375em solid transparent;
  border-right: 0.375em solid transparent;
  border-top: 0.4375em solid;
  border-bottom: 0px;
}

#greetingBox {
  display: block;
  font-size: 12px;
  line-height: 1.25;
}

#welcomeText {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
  max-width: 18ch;
  overflow-wrap: break-word;
  font-size: 16px;
  overflow: hidden;
}

#signInAndRegister {
  display: block;
  margin-top: 4px;
}

#registerButton,
#signInButton {
  display: inline-block;
  font-weight: 700;
  cursor: pointer;
  margin-top: -4px;
  margin-bottom: -4px;
  padding-top: 4px;
  padding-bottom: 4px;
  outline: 0px;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}
