#container {
  flex-basis: auto;
  padding-left: 6px;
  padding-right: 6px;
  display: block;
  min-width: 0;
  width: 124px;
}

#priceBox {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
}

#message {
  font-weight: 700;
  text-transform: uppercase;
  word-wrap: break-word;
  margin-top: 8px;
  font-size: 12px;
  line-height: 1.25;
}
