#bottomLeftContainer {
  flex-basis: auto;
  padding-left: 6px;
  padding-right: 6px;
  display: block;
  min-width: 0;
}

#quantityLabel {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0px, 0px, 0px, 0px);
  white-space: nowrap;
  clip-path: inset(50%);
  padding: 0px;
  overflow: hidden;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
}

#dropdownContainer2 {
  position: relative;
}

.option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

#dropdown {
  display: block;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  -webkit-appearance: none;
  vertical-align: middle;
  height: 40px;
  padding-left: 12px;
  padding-right: 24px;
  color: #000;
  background-color: #fff;
  text-transform: none;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 54px;
}

#arrowBox {
  border-left: 0.375em solid transparent;
  border-right: 0.375em solid transparent;
  border-top: 0.4375em solid;
  border-bottom: 0;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translate(0, -50%);
  font-size: 12px;
  pointer-events: none;
}
