html {
  box-sizing: border-box;
  font-family: 'Helvetica Neue';
}

*,
*:before,
*:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: inherit;
  font: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  text-align: inherit;
  text-decoration: none;
  list-style: none;
  min-width: 0;
}
