#secondaryCarouselContainer1 {
  display: block;
}

#secondaryCarouselContainer2 {
  position: relative;
  padding-left: 32px;
  padding-right: 32px;
}
#secondaryCarouselContainer3 {
  position: relative;
  overflow: hidden;
}

#secondaryCarouselContainer4 {
  display: flex;
  margin-left: -8px;
  margin-right: -8px;
  transition: transform 300ms ease 0s;
}

.button {
  cursor: pointer;
  border-radius: 0;
  background-color: transparent;
  border-width: 0;
  border-style: solid;
}

.button:disabled {
  cursor: default;
  color: #eee;
}

.leftButton {
  font-size: 36px;
  line-height: 0;
  height: 100%;
  overflow: hidden;
  position: absolute;
  text-align: left;
  left: 0;
  top: 0;
  width: 32px;
}

.rightButton {
  font-size: 36px;
  line-height: 0;
  height: 100%;
  overflow: hidden;
  position: absolute;
  text-align: right;
  right: 0;
  top: 0;
  width: 32px;
}

.imageArrow {
  width: 0.5em;
  height: 1em;
  fill: currentColor;
}
