#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-sizing: border-box !important;
  border-width: 0 !important;
  border-style: solid !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: transparent;
  color: inherit;
  font: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  text-align: inherit;
  text-decoration: none;
  list-style: none;
  min-width: 0;
}

#contentContainer {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

#main {
  flex-direction: column;
  padding-left: 22px;
  padding-right: 22px;
  box-sizing: content-box;
  width: 980px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

#content {
  display: block;
}

#productDetailsContainer1,
#productDetailsContainer2 {
  display: block;
}

[class^='css-'],
[id^='css-'] {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: inherit;
  font: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  text-align: inherit;
  text-decoration: none;
  list-style: none;
  min-width: 0;
}
