.previewItemContainer1 {
  width: 100%;
  flex-shrink: 0;
}

.previewItemContainer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  overflow: hidden;
}
