#imagePreview {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}

#previewContainer1 {
  display: block;
}

#previewContainer2 {
  position: relative;
}

#previewContainer3 {
  position: relative;
  overflow: hidden;
}

#secondaryCarouselContainer1 {
  display: block;
}

#secondaryCarouselContainer2 {
  position: relative;
  padding-left: 32px;
  padding-right: 32px;
}
#secondaryCarouselContainer3 {
  position: relative;
  overflow: hidden;
}
