#popupContainer1 {
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.25);
  display: block;
  position: absolute;
  top: -16px;
  left: 100%;
  overflow: hidden;
  z-index: 1050;
  background-color: #fff;
  margin-left: 32px;
}

#popupContainer2 {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

#popupContainer3 {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#popupBox {
  display: block;
  position: relative;
  max-width: 100%;
  width: 1500px;
}

#abovePopup {
  display: block;
  padding-bottom: 100%;
}

#popup {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
}
